# NDVI FUERA
Objectivo: Limpiza y analisis exploratorio de datos
Proyecto: Análisis espacio-temporal de la distribución de la cobertura de suelo y dinámicas de la vegetación en zonas de interés para la conservación en el centro-este del estado de Sonora.
Fecha: 21/01/2022

Ibsan Otniel Morales Yepiz

### Carga Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

### Carga de datos

In [6]:
df_Encinar = pd.read_csv('./NDVI_FUERA/ENCINAR.csv')
df_MATSub = pd.read_csv('./NDVI_FUERA/MATSUB.csv')
df_MATXero = pd.read_csv('./NDVI_FUERA/MATXERO.csv')
df_MEZQUITAL = pd.read_csv('./NDVI_FUERA/MEZQUITAL.csv')
df_PASTIndu = pd.read_csv('./NDVI_FUERA/PASTINDU.csv')
df_PASTIzal = pd.read_csv('./NDVI_FUERA/PASTIZAL.csv')
df_VEGARRO = pd.read_csv('./NDVI_FUERA/VEGARRO.csv')

df_Encinar.head()

,X,Y,18-feb.,5-mar.,21-mar.,6-abr.,22-abr.,8-may.,24-may.,9-jun.,...,12-ago..5,28-ago..5,13-sep..5,29-sep..5,15-oct..5,31-oct..5,16-nov..5,2-dic..5,18-dic..5,01-ene.
0,687960.458,3249899.077,2726,2804,2824,2294,2296,2201,2321,2811,...,5330,5687,4872,4627,4379,4358,4175,4230,4171,4152
1,692586.409,3246815.110,3118,3335,3251,2764,2503,2510,2690,3073,...,6155,7131,5870,5079,4651,4455,4275,4296,4206,4279
2,692806.692,3245713.693,3093,3447,3087,2559,2524,2387,2544,2578,...,6519,7207,6544,5694,5269,4967,4703,4928,4783,4817
3,696551.509,3244832.560,2955,3724,3233,2899,2413,2410,2665,3159,...,6418,7297,6729,5851,5222,4878,4513,4622,4459,4416
4,695450.093,3243951.426,3075,4117,3563,3449,2684,2436,2787,3931,...,7114,7802,7261,5888,5235,4869,4624,4760,4633,4682

## Limpieza

X             687960.458
Y            3249899.077
18-feb.         2726.000
5-mar.          2804.000
21-mar.         2824.000
                ...
31-oct..5       4358.000
16-nov..5       4175.000
2-dic..5        4230.000
18-dic..5       4171.000
01-ene.         4152.000
Name: 0, Length: 483, dtype: float64
X             692586.409
Y            3246815.110
18-feb.         3118.000
5-mar.          3335.000
21-mar.         3251.000
                ...
31-oct..5       4455.000
16-nov..5       4275.000
2-dic..5        4296.000
18-dic..5       4206.000
01-ene.         4279.000
Name: 1, Length: 483, dtype: float64
X             692806.692
Y            3245713.693
18-feb.         3093.000
5-mar.          3447.000
21-mar.         3087.000
                ...
31-oct..5       4967.000
16-nov..5       4703.000
2-dic..5        4928.000
18-dic..5       4783.000
01-ene.         4817.000
Name: 2, Length: 483, dtype: float64
X             696551.509
Y            3244832.560
18-feb.         2955.000
5-mar.          3724.000
21-mar.         3233.000
                ...
31-oct..5       4878.000
16-nov..5       4513.000
2-dic..5        4622.000
18-dic..5       4459.000
01-ene.         4416.000
Name: 3, Length: 483, dtype: float64
X             695450.093
Y            3243951.426
18-feb.         3075.000
5-mar.          4117.000
21-mar.         3563.000
                ...
31-oct..5       4869.000
16-nov..5       4624.000
2-dic..5        4760.000
18-dic..5       4633.000
01-ene.         4682.000
Name: 4, Length: 483, dtype: float64
X             693687.826
Y            3243731.143
18-feb.         2573.000
5-mar.          3125.000
21-mar.         3025.000
                ...
31-oct..5       4804.000
16-nov..5       4182.000
2-dic..5        4365.000
18-dic..5       4402.000
01-ene.         4437.000
Name: 5, Length: 483, dtype: float64
X             696331.226
Y            3243510.859
18-feb.         2748.000
5-mar.          3784.000
21-mar.         3542.000
                ...
31-oct..5       4621.000
16-nov..5       4455.000
2-dic..5        4437.000
18-dic..5       4371.000
01-ene.         4367.000
Name: 6, Length: 483, dtype: float64
X             695670.376
Y            3242629.726
18-feb.         2816.000
5-mar.          3577.000
21-mar.         3176.000
                ...
31-oct..5       4458.000
16-nov..5       4074.000
2-dic..5        4467.000
18-dic..5       4348.000
01-ene.         4229.000
Name: 7, Length: 483, dtype: float64
X             695670.376
Y            3242409.443
18-feb.         2888.000
5-mar.          3315.000
21-mar.         3344.000
                ...
31-oct..5       4458.000
16-nov..5       4074.000
2-dic..5        4467.000
18-dic..5       4348.000
01-ene.         4229.000
Name: 8, Length: 483, dtype: float64
X             695450.093
Y            3242189.159
18-feb.         2759.000
5-mar.          3523.000
21-mar.         2938.000
                ...
31-oct..5       4541.000
16-nov..5       4221.000
2-dic..5        4362.000
18-dic..5       4209.000
01-ene.         4264.000
Name: 9, Length: 483, dtype: float64
X             687960.458
Y            3241087.742
18-feb.         3142.000
5-mar.          3513.000
21-mar.         3247.000
                ...
31-oct..5       4567.000
16-nov..5       4131.000
2-dic..5        4496.000
18-dic..5       4628.000
01-ene.         4526.000
Name: 10, Length: 483, dtype: float64
X             688180.742
Y            3240867.459
18-feb.         2938.000
5-mar.          3219.000
21-mar.         3456.000
                ...
31-oct..5       3912.000
16-nov..5       3839.000
2-dic..5        3889.000
18-dic..5       3904.000
01-ene.         3946.000
Name: 11, Length: 483, dtype: float64
X             695009.526
Y            3240867.459
18-feb.         2996.000
5-mar.          3498.000
21-mar.         3073.000
                ...
31-oct..5       3984.000
16-nov..5       3766.000
2-dic..5        3887.000
18-dic..5       3719.000
01-ene.         3734.000
Name: 12, Length: 483, dtype: float64
X             691264.709
Y            3239325.476
18-feb.         3281.000
5-mar.          2865.000
21-mar.         2784.000
                ...
31-oct..5       5006.000
16-nov..5       4706.000
2-dic..5        4588.000
18-dic..5       4296.000
01-ene.         4386.000
Name: 13, Length: 483, dtype: float64
X             691484.992
Y            3239325.476
18-feb.         3453.000
5-mar.          4172.000
21-mar.         2867.000
                ...
31-oct..5       5006.000
16-nov..5       4706.000
2-dic..5        4588.000
18-dic..5       4296.000
01-ene.         4386.000
Name: 14, Length: 483, dtype: float64
X             687960.458
Y            3238884.909
18-feb.         3835.000
5-mar.          4158.000
21-mar.         3968.000
                ...
31-oct..5       5604.000
16-nov..5       5027.000
2-dic..5        5499.000
18-dic..5       5270.000
01-ene.         5481.000
Name: 15, Length: 483, dtype: float64
X             688180.742
Y            3238884.909
18-feb.         3905.000
5-mar.          4691.000
21-mar.         4192.000
                ...
31-oct..5       5604.000
16-nov..5       5027.000
2-dic..5        5499.000
18-dic..5       5270.000
01-ene.         5481.000
Name: 16, Length: 483, dtype: float64
X             688401.025
Y            3238664.626
18-feb.         4036.000
5-mar.          4573.000
21-mar.         3511.000
                ...
31-oct..5       4452.000
16-nov..5       4255.000
2-dic..5        4484.000
18-dic..5       4429.000
01-ene.         4353.000
Name: 17, Length: 483, dtype: float64
X             689943.009
Y            3237122.642
18-feb.         3368.000
5-mar.          3791.000
21-mar.         3406.000
                ...
31-oct..5       4817.000
16-nov..5       4895.000
2-dic..5        4853.000
18-dic..5       4768.000
01-ene.         4793.000
Name: 18, Length: 483, dtype: float64
X             689943.009
Y            3236902.359
18-feb.         3158.000
5-mar.          3158.000
21-mar.         3066.000
                ...
31-oct..5       4817.000
16-nov..5       4895.000
2-dic..5        4853.000
18-dic..5       4768.000
01-ene.         4793.000
Name: 19, Length: 483, dtype: float64
X             690163.292
Y            3236902.359
18-feb.         3404.000
5-mar.          3632.000
21-mar.         3165.000
                ...
31-oct..5       5282.000
16-nov..5       4966.000
2-dic..5        5122.000
18-dic..5       4895.000
01-ene.         4796.000
Name: 20, Length: 483, dtype: float64
X             697432.643
Y            3236902.359
18-feb.         3652.000
5-mar.          3581.000
21-mar.         3147.000
                ...
31-oct..5       4632.000
16-nov..5       4349.000
2-dic..5        4315.000
18-dic..5       4327.000
01-ene.         4256.000
Name: 21, Length: 483, dtype: float64
X             690383.575
Y            3236682.075
18-feb.         3411.000
5-mar.          3391.000
21-mar.         3184.000
                ...
31-oct..5       4334.000
16-nov..5       4221.000
2-dic..5        4150.000
18-dic..5       4392.000
01-ene.         4334.000
Name: 22, Length: 483, dtype: float64
X             696771.793
Y            3236682.075
18-feb.         4242.000
5-mar.          4393.000
21-mar.         3990.000
                ...
31-oct..5       5155.000
16-nov..5       4752.000
2-dic..5        4738.000
18-dic..5       5024.000
01-ene.         4865.000
Name: 23, Length: 483, dtype: float64
X             696992.076
Y            3236682.075
18-feb.         4222.000
5-mar.          4377.000
21-mar.         3946.000
                ...
31-oct..5       5155.000
16-nov..5       4752.000
2-dic..5        4738.000
18-dic..5       5024.000
01-ene.         4865.000
Name: 24, Length: 483, dtype: float64
X             690603.859
Y            3236461.792
18-feb.         3020.000
5-mar.          3504.000
21-mar.         3248.000
                ...
31-oct..5       4334.000
16-nov..5       4221.000
2-dic..5        4150.000
18-dic..5       4392.000
01-ene.         4334.000
Name: 25, Length: 483, dtype: float64
X             696551.509
Y            3236461.792
18-feb.         4343.000
5-mar.          4498.000
21-mar.         4045.000
                ...
31-oct..5       6089.000
16-nov..5       5531.000
2-dic..5        5699.000
18-dic..5       5521.000
01-ene.         5282.000
Name: 26, Length: 483, dtype: float64
X             696771.793
Y            3236461.792
18-feb.         4218.000
5-mar.          4393.000
21-mar.         3930.000
                ...
31-oct..5       5155.000
16-nov..5       4752.000
2-dic..5        4738.000
18-dic..5       5024.000
01-ene.         4865.000
Name: 27, Length: 483, dtype: float64
X             696992.076
Y            3236461.792
18-feb.         4252.000
5-mar.          4368.000
21-mar.         3914.000
                ...
31-oct..5       5155.000
16-nov..5       4752.000
2-dic..5        4738.000
18-dic..5       5024.000
01-ene.         4865.000
Name: 28, Length: 483, dtype: float64
X             695670.376
Y            3236241.509
18-feb.         3853.000
5-mar.          3799.000
21-mar.         3314.000
                ...
31-oct..5       5428.000
16-nov..5       5113.000
2-dic..5        5234.000
18-dic..5       5069.000
01-ene.         4908.000
Name: 29, Length: 483, dtype: float64
X             696331.226
Y            3236241.509
18-feb.         4241.000
5-mar.          4344.000
21-mar.         4038.000
                ...
31-oct..5       6089.000
16-nov..5       5531.000
2-dic..5        5699.000
18-dic..5       5521.000
01-ene.         5282.000
Name: 30, Length: 483, dtype: float64
X             696551.509
Y            3236241.509
18-feb.         4181.000
5-mar.          2620.000
21-mar.         3292.000
                ...
31-oct..5       3933.000
16-nov..5       3744.000
2-dic..5        3979.000
18-dic..5       4076.000
01-ene.         3867.000
Name: 31, Length: 483, dtype: float64
X             697212.360
Y            3236241.509
18-feb.         3963.000
5-mar.          4168.000
21-mar.         3322.000
                ...
31-oct..5       4678.000
16-nov..5       4324.000
2-dic..5        4249.000
18-dic..5       4376.000
01-ene.         4146.000
Name: 32, Length: 483, dtype: float64
X             689502.442
Y            3236021.225
18-feb.         3290.000
5-mar.          3432.000
21-mar.         2964.000
                ...
31-oct..5       4491.000
16-nov..5       4047.000
2-dic..5        4280.000
18-dic..5       4246.000
01-ene.         4252.000
Name: 33, Length: 483, dtype: float64
X             689722.725
Y            3235580.658
18-feb.         3131.000
5-mar.          3367.000
21-mar.         3387.000
                ...
31-oct..5       4146.000
16-nov..5       3853.000
2-dic..5        4071.000
18-dic..5       4170.000
01-ene.         4053.000
Name: 34, Length: 483, dtype: float64
X             692806.692
Y            3231395.275
18-feb.         3774.000
5-mar.          3684.000
21-mar.         3541.000
                ...
31-oct..5       4915.000
16-nov..5       4536.000
2-dic..5        4720.000
18-dic..5       4429.000
01-ene.         4513.000
Name: 35, Length: 483, dtype: float64
X             700076.043
Y            3231395.275
18-feb.         3739.000
5-mar.          3803.000
21-mar.         3365.000
                ...
31-oct..5       4476.000
16-nov..5       4137.000
2-dic..5        4437.000
18-dic..5       4103.000
01-ene.         4139.000
Name: 36, Length: 483, dtype: float64
X             700296.327
Y            3231395.275
18-feb.         3345.000
5-mar.          3725.000
21-mar.         3420.000
                ...
31-oct..5       4476.000
16-nov..5       4137.000
2-dic..5        4437.000
18-dic..5       4103.000
01-ene.         4139.000
Name: 37, Length: 483, dtype: float64
X             691705.276
Y            3231174.991
18-feb.         3510.000
5-mar.          3593.000
21-mar.         3667.000
                ...
31-oct..5       4631.000
16-nov..5       4244.000
2-dic..5        4508.000
18-dic..5       4210.000
01-ene.         4197.000
Name: 38, Length: 483, dtype: float64
X             693026.976
Y            3231174.991
18-feb.         4177.000
5-mar.          3986.000
21-mar.         3538.000
                ...
31-oct..5       4915.000
16-nov..5       4536.000
2-dic..5        4720.000
18-dic..5       4429.000
01-ene.         4513.000
Name: 39, Length: 483, dtype: float64
X             700296.327
Y            3231174.991
18-feb.         3572.000
5-mar.          3745.000
21-mar.         3349.000
                ...
31-oct..5       4634.000
16-nov..5       4350.000
2-dic..5        4319.000
18-dic..5       3979.000
01-ene.         4014.000
Name: 40, Length: 483, dtype: float64
X             700296.327
Y            3230954.708
18-feb.         3367.000
5-mar.          3637.000
21-mar.         3078.000
                ...
31-oct..5       4634.000
16-nov..5       4350.000
2-dic..5        4319.000
18-dic..5       3979.000
01-ene.         4014.000
Name: 41, Length: 483, dtype: float64
X             700516.610
Y            3230954.708
18-feb.         3042.000
5-mar.          3674.000
21-mar.         3367.000
                ...
31-oct..5       3911.000
16-nov..5       3697.000
2-dic..5        3762.000
18-dic..5       3554.000
01-ene.         3626.000
Name: 42, Length: 483, dtype: float64
X             692366.126
Y            3230734.425
18-feb.         3922.000
5-mar.          3102.000
21-mar.         2881.000
                ...
31-oct..5       4159.000
16-nov..5       3798.000
2-dic..5        3736.000
18-dic..5       3702.000
01-ene.         3804.000
Name: 43, Length: 483, dtype: float64
X             700076.043
Y            3230734.425
18-feb.         3565.000
5-mar.          3552.000
21-mar.         2707.000
                ...
31-oct..5       4634.000
16-nov..5       4350.000
2-dic..5        4319.000
18-dic..5       3979.000
01-ene.         4014.000
Name: 44, Length: 483, dtype: float64
X             694568.959
Y            3230514.141
18-feb.         3163.000
5-mar.          3027.000
21-mar.         2984.000
                ...
31-oct..5       4415.000
16-nov..5       4285.000
2-dic..5        4317.000
18-dic..5       4116.000
01-ene.         4213.000
Name: 45, Length: 483, dtype: float64
X             694128.392
Y            3230073.574
18-feb.         3488.000
5-mar.          3729.000
21-mar.         2970.000
                ...
31-oct..5       4125.000
16-nov..5       3912.000
2-dic..5        3929.000
18-dic..5       3862.000
01-ene.         3872.000
Name: 46, Length: 483, dtype: float64
X             694789.243
Y            3229853.291
18-feb.         3693.000
5-mar.          3624.000
21-mar.         2947.000
                ...
31-oct..5       3638.000
16-nov..5       3692.000
2-dic..5        3635.000
18-dic..5       3535.000
01-ene.         3560.000
Name: 47, Length: 483, dtype: float64
X             695009.526
Y            3229853.291
18-feb.         3525.000
5-mar.          3628.000
21-mar.         3049.000
                ...
31-oct..5       3638.000
16-nov..5       3692.000
2-dic..5        3635.000
18-dic..5       3535.000
01-ene.         3560.000
Name: 48, Length: 483, dtype: float64
X             694568.959
Y            3229633.008
18-feb.         3354.000
5-mar.          3265.000
21-mar.         2801.000
                ...
31-oct..5       3855.000
16-nov..5       3750.000
2-dic..5        3694.000
18-dic..5       3388.000
01-ene.         3390.000
Name: 49, Length: 483, dtype: float64
X             694789.243
Y            3229633.008
18-feb.         3223.000
5-mar.          3345.000
21-mar.         3463.000
                ...
31-oct..5       3638.000
16-nov..5       3692.000
2-dic..5        3635.000
18-dic..5       3535.000
01-ene.         3560.000
Name: 50, Length: 483, dtype: float64
X             699415.193
Y            3225667.907
18-feb.         4278.000
5-mar.          4170.000
21-mar.         3833.000
                ...
31-oct..5       5349.000
16-nov..5       4798.000
2-dic..5        5001.000
18-dic..5       4848.000
01-ene.         4781.000
Name: 51, Length: 483, dtype: float64
X             695229.809
Y            3225447.624
18-feb.         3198.000
5-mar.          3286.000
21-mar.         2773.000
                ...
31-oct..5       4535.000
16-nov..5       4384.000
2-dic..5        4393.000
18-dic..5       3987.000
01-ene.         4022.000
Name: 52, Length: 483, dtype: float64
X             696331.226
Y            3225447.624
18-feb.         3600.000
5-mar.          3824.000
21-mar.         3517.000
                ...
31-oct..5       5697.000
16-nov..5       5296.000
2-dic..5        5211.000
18-dic..5       4874.000
01-ene.         5044.000
Name: 53, Length: 483, dtype: float64
X             696992.076
Y            3225447.624
18-feb.         4196.000
5-mar.          3989.000
21-mar.         3321.000
                ...
31-oct..5       5556.000
16-nov..5       5091.000
2-dic..5        5319.000
18-dic..5       4863.000
01-ene.         4748.000
Name: 54, Length: 483, dtype: float64
X             696551.509
Y            3225227.341
18-feb.         3620.000
5-mar.          3586.000
21-mar.         3191.000
                ...
31-oct..5       4455.000
16-nov..5       4256.000
2-dic..5        4331.000
18-dic..5       4221.000
01-ene.         4199.000
Name: 55, Length: 483, dtype: float64
X             696771.793
Y            3225227.341
18-feb.         3778.000
5-mar.          3424.000
21-mar.         3248.000
                ...
31-oct..5       4455.000
16-nov..5       4256.000
2-dic..5        4331.000
18-dic..5       4221.000
01-ene.         4199.000
Name: 56, Length: 483, dtype: float64
X             698974.626
Y            3225227.341
18-feb.         3916.000
5-mar.          4244.000
21-mar.         3895.000
                ...
31-oct..5       5499.000
16-nov..5       5076.000
2-dic..5        5241.000
18-dic..5       4982.000
01-ene.         5199.000
Name: 57, Length: 483, dtype: float64
X             693247.259
Y            3222143.373
18-feb.         3689.000
5-mar.          3697.000
21-mar.         3132.000
                ...
31-oct..5       4255.000
16-nov..5       3993.000
2-dic..5        4131.000
18-dic..5       3895.000
01-ene.         3740.000
Name: 58, Length: 483, dtype: float64
X             693908.109
Y            3221482.523
18-feb.         3668.000
5-mar.          3665.000
21-mar.         3096.000
                ...
31-oct..5       4497.000
16-nov..5       4308.000
2-dic..5        4256.000
18-dic..5       4110.000
01-ene.         4019.000
Name: 59, Length: 483, dtype: float64

,X,Y,18-feb.,5-mar.,21-mar.,6-abr.,22-abr.,8-may.,24-may.,9-jun.,...,12-ago..5,28-ago..5,13-sep..5,29-sep..5,15-oct..5,31-oct..5,16-nov..5,2-dic..5,18-dic..5,01-ene.
NaN,687960.458,3249899.077,2726,2804,2824,2294,2296,2201,2321,2811,...,5330,5687,4872,4627,4379,4358,4175,4230,4171,4152
NaN,692586.409,3246815.110,3118,3335,3251,2764,2503,2510,2690,3073,...,6155,7131,5870,5079,4651,4455,4275,4296,4206,4279
NaN,692806.692,3245713.693,3093,3447,3087,2559,2524,2387,2544,2578,...,6519,7207,6544,5694,5269,4967,4703,4928,4783,4817
NaN,696551.509,3244832.560,2955,3724,3233,2899,2413,2410,2665,3159,...,6418,7297,6729,5851,5222,4878,4513,4622,4459,4416
NaN,695450.093,3243951.426,3075,4117,3563,3449,2684,2436,2787,3931,...,7114,7802,7261,5888,5235,4869,4624,4760,4633,4682
NaN,693687.826,3243731.143,2573,3125,3025,2589,2521,2437,2692,3307,...,6591,7476,7105,5845,5199,4804,4182,4365,4402,4437
NaN,696331.226,3243510.859,2748,3784,3542,2935,2738,2518,2858,3765,...,6824,7534,7109,5648,4853,4621,4455,4437,4371,4367
NaN,695670.376,3242629.726,2816,3577,3176,2987,2551,2527,2670,2854,...,6662,7410,6804,5603,4640,4458,4074,4467,4348,4229
NaN,695670.376,3242409.443,2888,3315,3344,3024,2642,2502,2642,3052,...,6662,7410,6804,5603,4640,4458,4074,4467,4348,4229
NaN,695450.093,3242189.159,2759,3523,2938,2743,2514,2428,2348,2434,...,7015,7580,7003,5394,4743,4541,4221,4362,4209,4264
NaN,687960.458,3241087.742,3142,3513,3247,2930,2688,2536,2663,4038,...,6062,6644,6015,4922,4727,4567,4131,4496,4628,4526
NaN,688180.742,3240867.459,2938,3219,3456,2830,2365,2550,2821,2436,...,5057,5583,5048,4291,3985,3912,3839,3889,3904,3946
NaN,695009.526,3240867.459,2996,3498,3073,2861,2656,2474,2423,2534,...,6741,7463,6550,4896,4252,3984,3766,3887,3719,3734
NaN,691264.709,3239325.476,3281,2865,2784,2499,2303,2370,2056,2496,...,5939,6513,6030,5202,5030,5006,4706,4588,4296,4386
NaN,691484.992,3239325.476,3453,4172,2867,2626,2380,2425,2017,3322,...,5939,6513,6030,5202,5030,5006,4706,4588,4296,4386
NaN,687960.458,3238884.909,3835,4158,3968,2954,2789,2664,2572,2550,...,6184,6843,6397,5795,5726,5604,5027,5499,5270,5481
NaN,688180.742,3238884.909,3905,4691,4192,3023,2830,2626,2574,2727,...,6184,6843,6397,5795,5726,5604,5027,5499,5270,5481
NaN,688401.025,3238664.626,4036,4573,3511,2967,2755,2735,2680,2805,...,5633,6690,6027,5064,4730,4452,4255,4484,4429,4353
NaN,689943.009,3237122.642,3368,3791,3406,2763,2582,2603,2539,2659,...,6259,6962,6112,5475,4852,4817,4895,4853,4768,4793
NaN,689943.009,3236902.359,3158,3158,3066,2536,2434,2520,2375,2545,...,6259,6962,6112,5475,4852,4817,4895,4853,4768,4793
NaN,690163.292,3236902.359,3404,3632,3165,2680,2572,2544,2515,2511,...,6332,6975,6398,5701,5360,5282,4966,5122,4895,4796
NaN,697432.643,3236902.359,3652,3581,3147,2675,2381,2477,2538,2440,...,6361,6521,5831,5232,4728,4632,4349,4315,4327,4256
NaN,690383.575,3236682.075,3411,3391,3184,2611,2483,2470,2397,2495,...,5456,6093,5655,4880,4602,4334,4221,4150,4392,4334
NaN,696771.793,3236682.075,4242,4393,3990,3003,2773,2708,2775,2815,...,6163,6345,5931,5402,5294,5155,4752,4738,5024,4865
NaN,696992.076,3236682.075,4222,4377,3946,3058,2761,2751,2829,2848,...,6163,6345,5931,5402,5294,5155,4752,4738,5024,4865
NaN,690603.859,3236461.792,3020,3504,3248,2674,2458,2394,2386,2423,...,5456,6093,5655,4880,4602,4334,4221,4150,4392,4334
NaN,696551.509,3236461.792,4343,4498,4045,3113,2858,2720,2790,2831,...,6509,6631,6521,6308,5941,6089,5531,5699,5521,5282
NaN,696771.793,3236461.792,4218,4393,3930,3069,2801,2702,2762,2835,...,6163,6345,5931,5402,5294,5155,4752,4738,5024,4865
NaN,696992.076,3236461.792,4252,4368,3914,3021,2736,2710,2832,2877,...,6163,6345,5931,5402,5294,5155,4752,4738,5024,4865
NaN,695670.376,3236241.509,3853,3799,3314,2746,2510,2536,2598,2654,...,6013,6289,5861,5645,5352,5428,5113,5234,5069,4908
NaN,696331.226,3236241.509,4241,4344,4038,2895,2723,2606,2782,2696,...,6509,6631,6521,6308,5941,6089,5531,5699,5521,5282
NaN,696551.509,3236241.509,4181,2620,3292,2879,2335,2086,2324,2274,...,5291,5147,4771,4469,4037,3933,3744,3979,4076,3867
NaN,697212.360,3236241.509,3963,4168,3322,2750,2530,2568,2771,2766,...,6606,6424,5873,5151,4633,4678,4324,4249,4376,4146
NaN,689502.442,3236021.225,3290,3432,2964,2661,2349,2603,2490,2754,...,5182,6131,5527,4806,4315,4491,4047,4280,4246,4252
NaN,689722.725,3235580.658,3131,3367,3387,2625,2561,2316,2526,2449,...,4970,5773,5267,4620,4245,4146,3853,4071,4170,4053
NaN,692806.692,3231395.275,3774,3684,3541,3085,2547,2442,2390,2419,...,5966,6694,5641,5486,5094,4915,4536,4720,4429,4513
NaN,700076.043,3231395.275,3739,3803,3365,2948,2616,2581,2460,2562,...,7197,7756,6992,5374,4602,4476,4137,4437,4103,4139
NaN,700296.327,3231395.275,3345,3725,3420,2994,2583,2599,2469,2541,...,7197,7756,6992,5374,4602,4476,4137,4437,4103,4139
NaN,691705.276,3231174.991,3510,3593,3667,2960,2592,2626,2599,2711,...,5816,6728,5381,5160,5027,4631,4244,4508,4210,4197
NaN,693026.976,3231174.991,4177,3986,3538,3003,2758,2665,2548,2562,...,5966,6694,5641,5486,5094,4915,4536,4720,4429,4513
NaN,700296.327,3231174.991,3572,3745,3349,2987,2653,2658,2519,2635,...,7153,7659,6857,5261,4703,4634,4350,4319,3979,4014
NaN,700296.327,3230954.708,3367,3637,3078,3022,2577,2512,2413,2570,...,7153,7659,6857,5261,4703,4634,4350,4319,3979,4014
NaN,700516.610,3230954.708,3042,3674,3367,3061,2647,2345,2316,2677,...,7070,7480,6345,4954,4102,3911,3697,3762,3554,3626
NaN,692366.126,3230734.425,3922,3102,2881,2644,2421,2407,2423,2386,...,5866,6371,5113,4786,4430,4159,3798,3736,3702,3804
NaN,700076.043,3230734.425,3565,3552,2707,2736,2398,2454,2345,2429,...,7153,7659,6857,5261,4703,4634,4350,4319,3979,4014
NaN,694568.959,3230514.141,3163,3027,2984,2953,2677,2445,2413,2513,...,6224,7110,5467,4825,4590,4415,4285,4317,4116,4213
NaN,694128.392,3230073.574,3488,3729,2970,2889,2609,2526,2544,2452,...,5497,6519,5312,4573,4506,4125,3912,3929,3862,3872
NaN,694789.243,3229853.291,3693,3624,2947,3287,2873,2539,2510,2505,...,6177,6957,5215,4373,4016,3638,3692,3635,3535,3560
NaN,695009.526,3229853.291,3525,3628,3049,2816,2836,2645,2530,2466,...,6177,6957,5215,4373,4016,3638,3692,3635,3535,3560
NaN,694568.959,3229633.008,3354,3265,2801,2633,2450,2289,2536,2395,...,6029,6357,5129,4481,4251,3855,3750,3694,3388,3390
NaN,694789.243,3229633.008,3223,3345,3463,2403,2249,2703,2513,2686,...,6177,6957,5215,4373,4016,3638,3692,3635,3535,3560
NaN,699415.193,3225667.907,4278,4170,3833,2924,2740,2682,2493,2656,...,7229,7344,6634,5923,5464,5349,4798,5001,4848,4781
NaN,695229.809,3225447.624,3198,3286,2773,2754,2399,2456,2422,2439,...,6225,6224,6285,4996,4918,4535,4384,4393,3987,4022
NaN,696331.226,3225447.624,3600,3824,3517,3047,2806,2712,2539,2692,...,6750,7537,6888,6191,5819,5697,5296,5211,4874,5044
NaN,696992.076,3225447.624,4196,3989,3321,3204,2675,2601,2479,2650,...,6311,7140,6878,5918,5714,5556,5091,5319,4863,4748
NaN,696551.509,3225227.341,3620,3586,3191,2963,2833,2803,2611,2766,...,4829,4863,4936,4633,4585,4455,4256,4331,4221,4199
NaN,696771.793,3225227.341,3778,3424,3248,2994,2831,2782,2626,2782,...,4829,4863,4936,4633,4585,4455,4256,4331,4221,4199
NaN,698974.626,3225227.341,3916,4244,3895,3256,2847,2726,2578,2675,...,6903,6901,6390,5877,5514,5499,5076,5241,4982,5199
NaN,693247.259,3222143.373,3689,3697,3132,2779,2820,2986,2614,2682,...,5465,6112,5741,4945,4376,4255,3993,4131,3895,3740
NaN,693908.109,3221482.523,3668,3665,3096,2813,2533,2543,2557,2525,...,5972,6270,5692,5146,4685,4497,4308,4256,4110,4019